body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 50%;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0px 0px 10px gray;
  text-align: center;
}

input {
  width: 60%;
  padding: 8px;
}

button {
  padding: 8px 15px;
  margin-left: 5px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #ddd;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
